openapi: 3.1.0
info:
  title: Purdue Dining API
  description: Access Purdue University dining court menus and location hours.
  version: 1.0.0
servers:
  - url: https://api.hfs.purdue.edu/menus/v2
paths:
  /locations:
    get:
      operationId: getLocations
      summary: Get all dining locations with current hours and upcoming meals
      description: |
        Returns every Purdue dining location with address, normal hours,
        and UpcomingMeals (with real start/end ISO timestamps).
        Use UpcomingMeals to determine what is currently open.
      responses:
        "200":
          description: List of dining locations
          content:
            application/json:
              schema:
                type: object
                properties:
                  Location:
                    type: array
                    items:
                      $ref: "#/components/schemas/Location"
  /locations/{locationName}/{date}:
    get:
      operationId: getMenu
      summary: Get the menu for a specific location and date
      description: |
        Returns the full menu including meals, stations, and food items
        with allergen and dietary info.
      parameters:
        - name: locationName
          in: path
          required: true
          description: |
            Dining location name. Must match exactly:
            - Earhart
            - Ford
            - Hillenbrand
            - Wiley
            - Windsor
            - 1bowl at Meredith Hall
            - Pete's Za at Tarkington Hall
            - Sushi Boss at Meredith Hall
            - Earhart On-the-GO!
            - Ford On-the-GO!
            - Windsor On-the-GO!
            - Lawson On-the-GO!
          schema:
            type: string
        - name: date
          in: path
          required: true
          description: Date in MM-DD-YYYY format
          schema:
            type: string
            example: "04-06-2026"
      responses:
        "200":
          description: Menu for the location and date
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MenuResponse"
components:
  schemas:
    Location:
      type: object
      properties:
        Name:
          type: string
        FormalName:
          type: string
        Type:
          type: string
          enum: [Dining Courts, Quick Bites, "On-the-GO!"]
        NormalHours:
          type: array
          items:
            type: object
            properties:
              Name:
                type: string
              Days:
                type: array
                items:
                  type: object
                  properties:
                    Name:
                      type: string
                    Meals:
                      type: array
                      items:
                        type: object
                        properties:
                          Name:
                            type: string
                          Status:
                            type: string
                          Hours:
                            type: object
                            properties:
                              StartTime:
                                type: string
                              EndTime:
                                type: string
        UpcomingMeals:
          type: array
          description: Real-time meal schedule with ISO timestamps. Use this to check what is open NOW.
          items:
            type: object
            properties:
              Name:
                type: string
              StartTime:
                type: string
                format: date-time
              EndTime:
                type: string
                format: date-time
    MenuResponse:
      type: object
      properties:
        Location:
          type: string
        Date:
          type: string
        Meals:
          type: array
          items:
            type: object
            properties:
              Name:
                type: string
              Status:
                type: string
                enum: [Open, Closed]
              Hours:
                type: object
                properties:
                  StartTime:
                    type: string
                  EndTime:
                    type: string
              Stations:
                type: array
                items:
                  type: object
                  properties:
                    Name:
                      type: string
                    Items:
                      type: array
                      items:
                        type: object
                        properties:
                          Name:
                            type: string
                          IsVegetarian:
                            type: boolean
                          Allergens:
                            type: array
                            items:
                              type: object
                              properties:
                                Name:
                                  type: string
                                Value:
                                  type: boolean
